<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrapU.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='sass/sassU/style.css') }}" type="text/css">

    <!-- Custom CSS -->
    {% block customcss %}{% endblock %}
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{{ url_for('static', filename='img/Hermanos2.png') }}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li>{% if g.user_id %}
                    <div class="d-flex">
                        <div class="dropdown mr-1">
                            <a type="button" class="btn dropdown-toggle" id="dropdownMenuOffset"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-offset="10,20">
                                <img src="{{ url_for('static', filename='img/profile/llantita.png') }}" alt="mdo" width="32" height="32"
                                    class="rounded-circle">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                <a class="dropdown-item" href="#">Jhonatan Medina</a>
                                <a class="dropdown-item" href="#">Mis compras</a>
                                <a class="dropdown-item" href="{{ url_for('Cerrar_Sesion') }}">Salir</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="d-flex">
                        <div class="dropdown mr-1">
                            <a type="button" class="btn dropdown-toggle" id="dropdownMenuOffset"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-offset="10,20"><i class="fa fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                <a class="dropdown-item" href="{{ url_for('register_user') }}">Registrarse</a>
                                <a class="dropdown-item" href="{{ url_for('login_user') }}">Iniciar
                                    sesión</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}</li>
            </ul>
        </div>

        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="{{ url_for('home') }}">Inicio</a></li>
                <li><a href="/templates/shop-grid.html">Tienda</a></li>
                <li><a href="#">Servicios</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/lubricentro2hermanos"><i class="fa fa-facebook"></i></a>
            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D%252B50557060588%26data%3DARAPZAbLKbDnZwnsHbnTH5A4q6ICQbK738TqAdVTkG1W8RPET3fv7u-nGJFpEZvixh1kLKLY7LQrNbbQ-9SLEql7x-3GFqBWcSHYbmYY6X0RRx-0L3Mhl7FElWPwOwdQoMm5NveebSwvVZEHP8BH50RL3A%26source%3DFB_Page%26app%3Dfacebook%26entry_point%3Dpage_cta%26fbclid%3DIwAR2Z1d2xPl7bFdvdjQJmIShJZTIlCVx6RG-TZkPZ5dKz3AMiJ0KZLkefFz8&h=AT1v57PKZPvQFNzN-INOPylKdJCTPK3sSXpR0qYnrugSZnRxpYphR_Z_Iniuf-0ahI27L0iKlyPwf5vWixcPIfHA2VlRYcynshshyc4K1gTypBpx9RaT34LCKdivLZuPG1hiDr1vmFl0ZmLZmu6ywA"><i class="fa fa-whatsapp"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> lubricentro2hermanos@gmail.com</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{{ url_for('static', filename='img/Hermanos2.png') }}"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{{ url_for('home') }}">Inicio</a></li>
                            <li><a href="{{ url_for('tienda') }}">Tienda</a></li>
                            <li><a href="#">Servicios</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li>
                                {% if g.user_id %}
                                <div class="d-flex">
                                    <div class="dropdown mr-1">
                                        <a type="button" class="btn dropdown-toggle" id="dropdownMenuOffset"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            data-offset="10,20">
                                            <img src="{{ url_for('static', filename='img/profile/llantita.png') }}" alt="mdo" width="32" height="32"
                                                class="rounded-circle">
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="#">Jhonatan Medina</a>
                                            <a class="dropdown-item" href="#">Mis compras</a>
                                            <a class="dropdown-item" href="{{ url_for('Cerrar_Sesion') }}">Salir</a>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="d-flex">
                                    <div class="dropdown mr-1">
                                        <a type="button" class="btn dropdown-toggle" id="dropdownMenuOffset"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            data-offset="10,20"><i class="fa fa-user"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="{{ url_for('register_user') }}">Registrarse</a>
                                            <a class="dropdown-item" href="{{ url_for('login_user') }}">Iniciar
                                                sesión</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                {% block todasCategorias %}
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Todas las categorías</span>
                        </div>
                        {% for categoria in categorias %}
                        <ul class="">
                            <li>
                                <a href="/tienda?id_categoria={{ categoria.id_categoria }}&page=1">{{ categoria.nombre }}</a>
                            </li>
                        </ul>
                    {% endfor %}                    
                    </div>
                </div>
                {% endblock %}

                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="/tienda" method="GET">
                                <input type="text" name="q" placeholder="¿Qué buscas?">
                                <input type="hidden" name="page" value="{{ page }}"> <!-- Campo oculto para el número de página -->
                                <button type="submit" class="site-btn">Buscar</button>
                            </form>
                        </div>                                           
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-map-o"></i>
                            </div>
                            <div class="hero__search__phone__text">

                                <h5>Sucursal: El mayoreo</h5>
                                <span>Abierto hasta: 5:00 PM</span>
                                <span class="arrow_carrot-down"></span>

                            </div>
                        </div>
                    </div>
                    {% block carousel %}
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/static/img/banner/banner-4.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/banner/banner-3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/banner/banner-5.jpg" class="d-block w-100" alt="...">
                            </div>
                            
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
    </section>
    <!-- Hero Section End -->
    {% block body %}{% endblock %}

    <!-- Modal Login -->
    <div class="modal fade" id="iniciosesion2" tabindex="-1" aria-labelledby="iniciosesion2Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-title custom-modal-title">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="loginlogo text-center">
                        <img src="{{url_for('static', filename='/images/Logo-Velaroma-Sin-FondoPEQUE.png')}}" alt="">
                    </div>
                    <form class="text-center custom-form" action="/login_user" method="POST">
                        <h5 class="TittleLogin">Inicio de <span>sesión</span></h5>
                        <div class="custom-paragraph">
                            <p>Por favor introduzca sus datos a continuación: </p>
                        </div>
                        <div class="input-container">
                            <input type="email" id="email" name="email" placeholder=" " required="">
                            <label for="input" class="label">Correo electrónico</label>
                            <div class="underline"></div>
                        </div>
                        <div class="input-container">
                            <input type="password" id="passw" name="password" placeholder=" " required="">
                            <label for="input" class="label">Contraseña</label>
                            <div class="lostpass text-lg-end">
                                <a class="text-lg-start" href="{{ url_for('lostpass') }}">¿Ha olvidado su
                                    contraseña?</a>
                            </div>

                            <div class="underline"></div>
                        </div>
                        <button class="site-btn" type="submit">Iniciar sesión</button>
                        <p class="mt-2">¿No tienes una cuenta? <a href="{{ url_for('register_user') }}">Regístrate</a>
                        </p>
                        {% if error or error2 %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {{ error or error2 or error3 }}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if error or error2 or error3 %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myModal = new bootstrap.Modal(document.getElementById('iniciosesion2'));
            myModal.show();
        });
    </script>
    {% endif %}
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{{ url_for('static', filename='img/Hermanos2.png') }}"
                                    alt=""></a>
                        </div>
                        <ul>
                            <li>Dirección: pista el mayoreo, Managua</li>
                            <li>Teléfono: 8216 2972</li>
                            <li>Correo: lubrihermanos@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados para Lubicentro dos hermanos
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mixitup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mainU.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>





</body>

</html>