{% extends './layaout.html' %}

{% block title %}Tienda{% endblock %}

<!-- No se necesita dropdown de todas las categorías en esta página -->
{% block todasCategorias %}
<div class="col-lg-3">
    <div class="breadcrumb__option">
        <a href="{{ url_for('home') }}">Inicio</a>
        <span>Tienda</span>
    </div>
</div>
{% endblock %}

<!-- No se necesita el carousel del inicio en esta página -->
{% block carousel %}{% endblock %}


{% block body %}


<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Categorías</h4>
                        {% for categoria in categorias %}
                        <ul>
                            <li><a href="/tienda?id_categoria={{ categoria.id_categoria }}&page=1">{{ categoria.nombre }}</a></li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                {% if titulo_check == True %}
                <h3>Resultados para la busqueda: {{ titulo_busqueda }} </h3>
                {% endif %}
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Ordenar por</span>
                                <select>
                                    <option value="0">Ordenar alfabeticamente A-Z</option>
                                    <option value="0">Ordenar alfabeticamente Z-A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for producto in productos %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{ producto.ruta_archivo }}">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{{ producto.id_producto }}">{{ producto.nombre_producto }}</a></h6>
                                <h5>C$ {{ producto.precio }}<h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="product__pagination">
                        {% for i in range(1, total_paginas + 1) %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endfor %}
                    </div>                    
                </div>
            </div>
        </div>
</section>
<!-- Product Section End -->


{% endblock %}