{% extends './layaout.html' %}

{% block title %}Inicio{% endblock %}


{% block body %}
{% block carousel %}{% endblock %}
<style>
    #carouselExampleCaptions {
        display: none;
    }    
</style>

<select id="year" name="year">
    <!-- Añadir opciones de año aquí -->
</select>

<select id="make" name="make">
    <!-- Las opciones se llenarán dinámicamente -->
</select>

<select id="model" name="model">
    <!-- Las opciones se llenarán dinámicamente -->
</select>

<select id="Engine displacement" name="Engine displacement">
    <!-- Las opciones se llenarán dinámicamente -->
</select>

<button id="search-button">Buscar Imágenes</button>

<br>
<div id="images-container"></div>

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><button class="btn btn-danger">Seleccionar</button>l</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<script>
    function loadYears() {
        fetch('/get_years')
            .then(response => response.json())
            .then(data => {
                let yearSelect = document.getElementById('year');
                yearSelect.innerHTML = data.map(year => `<option value="${year}">${year}</option>`).join('');
            });
    }
    
    // Llama a la función loadYears cuando se carga la página
    window.onload = loadYears;
    
    document.getElementById('year').addEventListener('change', function() {
        fetch('/get_makes?year=' + this.value)
            .then(response => response.json())
            .then(data => {
                let makeSelect = document.getElementById('make');
                makeSelect.innerHTML = data.map(make => `<option value="${make}">${make}</option>`).join('');
            });
    });
    
    document.getElementById('make').addEventListener('change', function() {
        const year = document.getElementById('year').value;
        fetch(`/get_models?year=${year}&make=${this.value}`)
            .then(response => response.json())
            .then(data => {
                let modelSelect = document.getElementById('model');
                modelSelect.innerHTML = data.map(model => `<option value="${model}">${model}</option>`).join('');
            });
    });
    
    document.getElementById('model').addEventListener('change', function() {
        const year = document.getElementById('year').value;
        const make = document.getElementById('make').value;
        fetch(`/get_engine_displacements?year=${year}&make=${make}&model=${this.value}`)
            .then(response => response.json())
            .then(data => {
                let engineDisplacementSelect = document.getElementById('Engine displacement');
                engineDisplacementSelect.innerHTML = data.map(displ => `<option value="${displ}">${displ} L</option>`).join('');
            });
    });

    document.getElementById('search-button').addEventListener('click', function() {
        const year = document.getElementById('year').value;
        const make = document.getElementById('make').value;
        const model = document.getElementById('model').value;
    
        fetch(`/search_images?year=${year}&make=${make}&model=${model}`)
            .then(response => response.json())
            .then(data => {
                const carouselInner = document.querySelector('#carouselExampleCaptions .carousel-inner');
                carouselInner.innerHTML = '';
    
                data.forEach((url, index) => {
                    const carouselItem = document.createElement('div');
                    carouselItem.classList.add('carousel-item');
                    if (index === 0) {
                        carouselItem.classList.add('active');
                    }
    
                    const img = document.createElement('img');
                    img.classList.add('d-block', 'w-100');
                    img.src = url;
                    img.alt = 'Car Image';
    
                    const carouselCaption = document.createElement('div');
                    carouselCaption.classList.add('carousel-caption', 'd-none', 'd-md-block');
                    carouselCaption.innerHTML = `
                        <h5>Slide ${index + 1} label</h5>
                        <p>Some representative placeholder content for the slide.</p>
                    `;
    
                    carouselItem.appendChild(img);
                    carouselItem.appendChild(carouselCaption);
                    carouselInner.appendChild(carouselItem);
                });
                // Mostrar el carrusel después de agregar imágenes
            document.getElementById('carouselExampleCaptions').style.display = 'block';
            });
    });
    
    
    
</script>

<br><br><br><br><br><br><br><br><br><br>
{% endblock %}